@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@color-bg: #F5F5F5;
@color-border: #E8E2E2;
@color-button: #F99417;
@color-button-delete: #ED2B2A;
@color-button-delete-hover: #F15A59;

@font_primary: 'Poppins', sans-serif;
@font_secondary: 'Bebas Neue', cursive;

body {
    background-color: @color-bg;
    font-family: @font_primary;
}

.phonebook-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 15vh;
    padding: 0 20px;

    h3,
    h2 {
        text-transform: uppercase;
        font-family: @font_secondary;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    h2 {
        text-align: center;
    }

    input {
        padding: 5px;
        box-sizing: border-box;
    }

    ul {
        width: 100%;
        padding-left: 0;

        > li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            list-style-type: none;
            border: 2px solid @color-border;
            border-top: none;
            border-right: none;
            padding: 10px;

            &:first-child {
                border-top: none;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    } 

    .formWrapper {
        label[for="number"] {
            margin-left: 20px;
        }

        button {
            .style-button(@color-button, black, 1.2rem);
        }

        .name {
            margin-bottom: 10px;
        }
        
        input {
            width: 100%;
        }
    }

    .filter-wrapper {
        input {
            width: 100%;
        }

        label {
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    .rightNumbers {
        width: 100%;
        display: flex;
        width: 100%;
        align-items: center;
        margin-left: 50px;


        .info-wrapper {
            display: flex;
            flex-direction: column;
        }

        button {
            .style-button(@color-button-delete, @color-button-delete-hover, 1rem);
        }
    }

    .leftForm {
        width: 45%;
    }
}

@media screen and (max-width: 834px) {
    .phonebook-container {
        flex-direction: column;
        padding: 0 30px;

        .leftForm,
        .rightNumbers ul {
            width: 100%;
            padding-left: 0;
        }

        .rightNumbers {
            margin-left: 0;

            ul > li {
                border-left: none;
            }
        }

        .formWrapper {
            button {
                width: 100%;
            }
        }
    }
}


.style-button(@bg-color, @hover-color, @font-size) {
    font-size: @font-size;
    background-color: @bg-color;
    color: @color-bg;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: inherit;
    border-style: solid;
    cursor: pointer;
    transition:  ease-in-out 200ms;

    &:hover {
        background-color: @hover-color;
    }
}

